<html>
<body>

	
	<%for(var i=0;i<cat.length;i++)


{%>


	<p>[catname:<%=cat[i].catname%>,description:<%=cat[i].description%>]</p>
<%}
%>

<form action='/deleteproduct' name='deleteproduct' method="post">
	input product id to delete product:<input name='proid' type="text" >
   <input type="submit" value="Submit">
<p><%=mes%></p>
</form>

	</body>
	</html>
