
<!DOCTYPE html>

<html lang="en" class="no-touch">
<head>
	<link rel="dns-prefetch" href="//i.ebayimg.com"><link rel="dns-prefetch" href="//thumbs.ebaystatic.com"><link rel="dns-prefetch" href="//thumbs1.ebaystatic.com"><link rel="dns-prefetch" href="//thumbs2.ebaystatic.com"><link rel="dns-prefetch" href="//thumbs3.ebaystatic.com"><link rel="dns-prefetch" href="//thumbs4.ebaystatic.com"><link rel="dns-prefetch" href="//vi.vipr.ebaydesc.com"><link rel="dns-prefetch" href="//p.ebaystatic.com"><link rel="dns-prefetch" href="//q.ebaystatic.com"><link rel="dns-prefetch" href="//pics.ebaystatic.com"><link rel="dns-prefetch" href="//ir.ebaystatic.com"><link rel="dns-prefetch" href="//tags.bluekai.com"><link rel="dns-prefetch" href="//srx.main.ebayrtm.com"><link rel="dns-prefetch" href="//rover.ebay.com"><link rel="dns-prefetch" href="//reco.ebay.com"><link rel="dns-prefetch" href="//ads.ebay.com"><link rel="dns-prefetch" href="//svcs.ebay.com"><script>var oPageSiteSpeedInfo = {iST:(new Date()).getTime()};</script>
<script type="text/javascript">var ABOVEFOLD = {imagesCount : 0, completedAt : null, load : function(source){this.completedAt = new Date().getTime();this.imagesCount++;},time : function(){return this.completedAt;}}; </script><meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta  name="msvalidate.01" content="CB0919578198D18709307978949E1B72" ></meta><meta  name="yandex-verification" content="6643aad5513535b7" ></meta><meta  name="google-site-verification" content="8kHr3jd3Z43q1ovwo0KVgo_NZKIEMjthBxti8m8fYTg" ></meta><title> psv | eBay </title><link  rel="alternate" media="only screen and (max-width: 640px)" href="http://m.ebay.com/sch/i.html?_nkw=psv" ></link><meta  name="y_key" content="acf32e2a69cbc2b0" ></meta><meta  name="description" content="Find great deals on eBay for psv psvita. Shop with confidence." ></meta><link rel="canonical" href="http://www.ebay.com/sch/i.html?_nkw=psv" ></link><meta  name="keywords" content="psvita, playstation vita, psp, 3ds, psv game, ps vita system, psv" ></meta><meta  property="fb:app_id" content="102628213125203" ></meta><meta  name="ROBOTS" content="index" ></meta><meta  name="msApplication-Arguments" content="v=1&amp;src=smartmeta&amp;sid=EBAY-US&amp;cid=139973&amp;kw=psv" ></meta><meta  name="msApplication-MinVersion" content="1.5.2.0" ></meta><meta  name="msApplication-PackageFamilyName" content="eBayInc.eBay_1618n3s9xq8tw" ></meta><meta  name="msApplication-ID" content="App" ></meta><!--[if IE]><link/><![endif]-->
	
	<link href="http://ir.ebaystatic.com/rs/v/bqpyj4u0zu5p3ayjr5we1snhqix.css" type="text/css" rel="stylesheet" slotId="gh-css"><link href="http://ir.ebaystatic.com/rs/v/sloo4mqb0a02pktiedfzz24n5yr.css" type="text/css" rel="stylesheet" slotId="common-css"><link href="http://ir.ebaystatic.com/rs/v/wbtb3drpea2opi2brapjs4jypey.css" type="text/css" rel="stylesheet" slotId="page-css"><style type="text/css">
		#rtm_html_566, #rtm_html_567 {height:615px;}
	</style><noscript><style>#gh-shop, #gh-f { display: block; }
		#gh-cat-box #gh-cat {display:block}
		</style></noscript>
	<style>.IE_7 .dropdownmenu .sel{*zoom:1} .bqrfTxtCont a.rflbl { position:relative; } .hrmenu .frmt span.sel{padding-bottom:6px!important;border-bottom:1px solid #ddd!important}.hr-fxd .hrfs.app .smwpr,.hr-fxd .pmenu.ic.mact .smwpr,.hr-fxd .pmenu.il.mact .smwpr,.hr-fxd .pmenu.pr.mact .smwpr{border-bottom:1px solid #ddd!important}.menuWpr .pmenu.ic.mact a.mancbl,.menuWpr .pmenu.il.mact a.mancbl,.menuWpr .pmenu.pr.mact a,.pmenu.hrfs.app .smwpr .mancbl{padding-bottom:12px!important}.pmenu.hrfs.app .smwpr .manc b{line-height:14px!important}  @media only screen and (max-width: 1200px){.hrmenu.hr-fxd .srtsel{display:block; max-width:100px !important;} } @media only screen and (max-width: 940px){.hrmenu.hr-fxd .srtsel{max-width:72px !important;}}</style></head><body class="sz1200 full-width LV CHROME CHROME_39 CHROME_39_0"><noscript class="nojs">
	<div class="nojs-msk"></div>
	<div class="nojs-msg shdw">
		<h3 class="header">Please enable JavaScript </h3>
			<p>Our new search experience requires JavaScript to be enabled. Please <a href="http://enable-javascript.com/" target="_blank">enable JavaScript on your browser</a>, then <a href="http://www.ebay.com/sch/i.html?_from=R40&amp;_trksid=p2050601.m570.l1313.TR11.TRC1.A0.H0.Xpsv&amp;_nkw=psv&amp;_sacat=0">try again</a>.</p>
			<p>To use our basic experience which does not require JavaScript, <a href="http://www.ebay.com/sch/i.html?_from=R40&amp;_trksid=p2050601.m570.l1313.TR11.TRC1.A0.H0.Xpsv&amp;_nkw=psv&amp;_sacat=0&_jsoff=1">click here</a>.</p>
	</div>
</noscript><div id="Head"></div>
	<div id="Body">
		<div id="Top">
			<div id="TopPanel">
				<% if(isAuthenticate)
		{%>
	<div id="gh-top" style="left:250px"><ul id="gh-topl" ><li class="gh-t gh-spr" id="gh-eb-u"><span id="gh-ug" class="gh-ug-guest" aria-expanded="false">Hi! <a href="/profile" _sp="m570.l1524"><%=user.email%></a></span></li><div class="gh-menu"><a href="/profile" class="gh-eb-li-a">My eBay</a><li class="gh-t gh-spr " id="gh-p-3"><a href="/logout" _sp="m570.l1545" class="gh-p">Log Out</a></li>
</ul>

<%}
else{%>
<div id="gh-top" style="left:250px"><ul id="gh-topl"><li class="gh-t gh-spr" id="gh-eb-u"><span id="gh-ug" class="gh-ug-guest" aria-expanded="false">Hi! <a href="/login" _sp="m570.l1524">Sign in</a>&nbsp;<span id="gh-ug-flex">or <a href="/signup" _sp="m570.l2621">register</a></span></span></li></div>
	<%}
%>
</div>
		</div>
		
		<span id="ph_LeftCenterBottomPanelDF"></span></div>
	
	<div id="Foot">
		<span id="ph_VRFooterDF"></span></div>
	<div id="HtmlFrags"></div> 



	
	





<div id="CenterWrapper">

<div id="Center" class="rr_present">

	<div id="CenterPanel" class="full-width left c-std">
	<div id="CenterPanelInner">

		<script type="text/javascript">/*
	 * Copyright 2011 Google Inc.
	 *
	 * Licensed under the Apache License, Version 2.0 (the "License");
	 * you may not use this file except in compliance with the License.
	 * You may obtain a copy of the License at
	 *
	 *      http://www.apache.org/licenses/LICENSE-2.0
	 *
	 * Unless required by applicable law or agreed to in writing, software
	 * distributed under the License is distributed on an "AS IS" BASIS,
	 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	 * See the License for the specific language governing permissions and
	 * limitations under the License.
	 */
window.pagespeed=window.pagespeed||{};var f=window.pagespeed;function g(a){this.d=[];this.c=500;this.e=!1;this.k=a;this.g=null;this.h=0;this.j=200;this.f=!1}function k(a,c){var d=c.getAttribute("pagespeed_lazy_position");if(d)return parseInt(d,0);var d=c.offsetTop,b=c.offsetParent;b&&(d+=k(a,b));d=Math.max(d,0);c.setAttribute("pagespeed_lazy_position",d);return d}
g.prototype.i=function(a){l(a);var c=this;window.setTimeout(function(){var d,b,e,p=a.getAttribute("imgurl");if(null!=p){if(!(b=c.e))if(c.f||0!=a.offsetHeight&&0!=a.offsetWidth){b:if(a.currentStyle)b=a.currentStyle.position;else{if(document.defaultView&&document.defaultView.getComputedStyle&&(b=document.defaultView.getComputedStyle(a,null))){b=b.getPropertyValue("position");break b}b=a.style&&a.style.position?a.style.position:""}if("relative"==b)b=!0;else{e=0;"number"==typeof window.pageYOffset?e=
window.pageYOffset:document.body&&document.body.scrollTop?e=document.body.scrollTop:document.documentElement&&document.documentElement.scrollTop&&(e=document.documentElement.scrollTop);d=window.innerHeight||document.documentElement.clientHeight||document.body.clientHeight;b=e;e+=d;var h=a.getBoundingClientRect();h?(e=h.top-d,b=h.bottom):(h=k(c,a),d=h+a.offsetHeight,e=h-e,b=d-b);b=e<=c.c&&0<=b+c.c}}else b=!1;b&&-1!=a.src.indexOf(c.k)?(b=a.parentNode,e=a.nextSibling,b&&b.removeChild(a),a.a&&(a.getAttribute=
a.a),a.removeAttribute("onload"),a.removeAttribute("imgurl"),a.removeAttribute("pagespeed_lazy_replaced_functions"),b&&b.insertBefore(a,e),a.src=p):c.d.push(a)}},0)};g.prototype.loadIfVisible=g.prototype.i;g.prototype.n=function(){this.e=!0;m(this)};g.prototype.loadAllImages=g.prototype.n;function m(a){var c=a.d,d=c.length;a.d=[];for(var b=0;b<d;++b)a.i(c[b])}function n(a,c){return a.l?null!=a.l(c):null!=a.getAttribute(c)}
g.prototype.o=function(){for(var a=document.getElementsByTagName("img"),c=0;c<a.length;++c){var d=a[c];n(d,"imgurl")&&l(d)}};g.prototype.overrideAttributeFunctions=g.prototype.o;function l(a){n(a,"pagespeed_lazy_replaced_functions")||(a.a=a.getAttribute,a.getAttribute=function(a){"src"==a.toLowerCase()&&n(this,"imgurl")&&(a="imgurl");return this.a(a)},a.setAttribute("pagespeed_lazy_replaced_functions","1"))}
f.b=function(a,c){var d=window;if(d.addEventListener)d.addEventListener(a,c,!1);else if(d.attachEvent)d.attachEvent("on"+a,c);else{var b=d["on"+a];d["on"+a]=function(){c.call(this);b&&b.call(this)}}};
f.m=function(a,c,d){function b(){if(!(e.f&&a||e.g)){var b=e.j;(new Date).getTime()-e.h>e.j&&(b=0);e.g=window.setTimeout(function(){e.h=(new Date).getTime();m(e);e.g=null},b)}}var e=new g(c);f.lazyLoadImages=e;e.c=d||500;f.b("load",function(){e.f=!0;e.e=a;m(e)});0!=c.indexOf("data")&&((new Image).src=c);f.b("scroll",b);f.b("resize",b)};f.lazyLoadInit=f.m;</script><script type="text/javascript"> pagespeed.lazyLoadInit(false, "http://p.ebaystatic.com/aw/pics/s_1x2.gif", 500);</script>
<div id="ConstraintCaptionContainer" class="fpcc">
		<span style="display:none"> <span class='keywordClass saveNameKw autClass-keyword' title='psv'> psv</span>: </span></div>
	
	<b style="display:none">&nbsp;</b><div id="Results" class="">
			<div class="rst" id="rsTabs">
	<div class="t225">
		<div id="SISPivotItemContainer" class="clear">
				</div>
			
			<div id="MessageContainer">
				</div>
			
			<div id="VEPMContainer">
				</div>
			
			<div id="e1-80" class="rs rsw"  _sp="p2045573.m1686">
	
	<a id="mainContent" tabindex="-1"></a>
	
	<div id="ResultSetItems" class="clearfix">
		<h2 class="hdnAcc">Items in search results</h2>
<ul id="ListViewInner">
	
	
    
    <%- list %>
    
    <div id="AnswersPlaceHolderContainer9999">
			</div>				
	</ul>

<div >
			<div id="merch_html_100199"></div>
</div>
	</div>
	
	</div>

<div id="ResultSetItems"></div>
			
			</div>
</div>

<div class="medianprcText g-hdn">This is the median price based on sales of this product in the same condition from all listings on <a href="http://www.ebay.com/">ebay.com</a> in the past 14 days, or if there are any insufficient number of listings for a meaningful calculation, the past 90 days.</div>
<div class="etrs2 g-hdn"><b style='color:#333333'>Top Rated Plus</b><br><ul style='color:#666666;margin: 3px 0;'><li>Sellers with highest buyer ratings</li><li>Returns, money back</li><li>Ships in a business day with tracking</li></ul><a href="http://pages.ebay.com/trp/index.html">Learn More</a></div>
<div class="etrs3 g-hdn"><b style='color:#333333'>Top Rated Plus</b><br><ul style='color:#666666;margin: 3px 0;'><li>Sellers with highest buyer ratings</li><li>Returns, money back</li><li>Ships in a business day with tracking</li></ul><a href="http://pages.ebay.com/trp/index.html">Learn More</a></div></div>
		
		<script type="text/javascript">pagespeed.lazyLoadImages.overrideAttributeFunctions();</script>
		</div>
	</div>
	<div id="rtm_html_985"></div>
	<div id="rtm_html_278"></div>
	</div>
</div></div></div><div id="t_VRFooterDF" style="display:none"><div id="VRFooterDF"><script type="text/javascript">$df.set('ph_VRFooterDF','VRFooterDF')</script><div id="vFoot">
		 		<div id="Bottom">
	<div id="BottomPanel">
		<div id="glbfooter" class="gh-w gh-flex"><div><div id=rtm_html_1650></div><div id=rtm_html_1651></div></div><h2 class=gh-ar-hdn>Additional site navigation</h2><div id="gf-t-box"><table class="gf-t"><tr><td colspan=2><ul id="gf-l" ><li class="gf-li"><a href="http://community.ebay.com" 
		 _exsp=m571.l3329 class="thrd gf-bar-a"
	>Community</a></li><li class="gf-li"><a href="http://www.ebayinc.com" 
		 _exsp=m571.l2602 class="thrd gf-bar-a"
	>About eBay</a></li><li class="gf-li"><a href="http://announcements.ebay.com" 
		 _sp=m571.l3330 class="thrd gf-bar-a"
	>Announcements</a></li><li class="gf-li"><a href="http://pages.ebay.com/securitycenter/index.html" 
		 _sp=m571.l2616 class="thrd gf-bar-a"
	>Security Center</a></li><li class="gf-li"><a href="http://resolutioncenter.ebay.com/" 
		 _sp=m571.l1619 class="thrd gf-bar-a"
	>Resolution Center</a></li><li class="gf-li"><a href="http://pages.ebay.com/sellerinformation/index.html" 
		 _sp=m571.l1613 class="thrd gf-bar-a"
	>Seller Information Center</a></li><li class="gf-li"><a href="http://pages.ebay.com/help/policies/overview.html" 
		 _sp=m571.l2604 class="thrd gf-bar-a"
	>Policies</a></li><li class="gf-li"><a href="http://pages.ebay.com/sitemap.html" 
		 _sp=m571.l1625 class="thrd gf-bar-a"
	>Site Map</a></li><li class="gf-li"><a href="http://viv.ebay.com/ws/eBayISAPI.dll?EbayTime" 
		 _sp=m571.l2606 class="thrd gf-bar-a"
	>eBay official time</a></li><li class="gf-li"><a href="http://garden.ebay.com" 
		 _sp=m571.l1617 class="thrd gf-bar-a"
	>Preview new features</a></li><li class="gf-li"><a href="http://ocsnext.ebay.com/ocs/cuhome" 
		 _sp=m571.l2911 class="thrd gf-bar-a"
	>Contact us</a></li><li class="gf-li"><a href="http://qu.ebay.com/survey?srvName=globalheader+%28footer-US%29" 
		 _sp=m571.l2628 class="thrd gh-survey gf-bar-a" title="opens in a new window or tab"
	>Tell us what you think</a></li></ul></td></tr><tr><td><div class="footerBGPost"><table><tbody><tr><td><a href="http://pages.ebay.com/ebay-money-back-guarantee/" _sp="m571.l4539" id="gf-bp"><span class=gh-ar-hdn>eBay Money Back Guarantee</span></a></td></tr></tbody></table></div></td></tr><tr valign="top"><td class="gf-legal">Copyright © 1995-2014 eBay Inc. All Rights Reserved. <a href="http://pages.ebay.com/help/policies/user-agreement.html?rt=nc">User Agreement</a>, <a href="http://pages.ebay.com/help/policies/privacy-policy.html?rt=nc">Privacy</a> and <a href="http://pages.ebay.com/help/account/cookies-web-beacons.html">Cookies</a>.</td></tr></table></div></div><!--ts:2014.12.01.23:46--><!--rq:--><!--rvr:59rc5--><div id="DedupeLegalNoticeContainer" class="dedupe coreFooterLegalNotice">
<div class="prh">
		<a id="e1-81" href="http://pages.ebay.com/buy/popup/pricing.html" title="*Learn about pricing">*Learn about pricing</a>
	</div>
</div>
<div id="FooterLegalNoticeContainer" class="ftnt coreFooterLegalNotice">
	<div class="currencyNote true">
			Amounts shown in italicized text are for items listed in currency other than U.S. dollars and are approximate conversions to U.S. dollars based upon Bloomberg's conversion rates. For more recent exchange rates, please use the <a class="" href="http://pages.ebay.com/services/buyandsell/currencyconverter.html">Universal Currency Converter</a></div>
	<div>
		 This page was last updated: &nbsp;Dec-01 23:37. Number of bids and bid amounts may be slightly out of date. See each listing for international shipping options and costs.</div>
</div>

</div>
</div></div>
		 </div></div><div id="t_JSDF" style="display:none"><div id="JSDF"><script type="text/javascript">$df.set('ph_JSDF','JSDF')</script><script>var pCon = {isDash:true,isVR:true,browser:{type:'CHROME',majorVersion:39,minorVersion:0},treatments:[28202,27965,18389,28098,22834,24011,22170,26807,28198,17547,22653],poolType:'production',showJSErrors:false};</script>

<div id="showDiagContainer">
</div>


<!-- RcmdId SearchResultPageRaptor,RlogId t6pwehq%60%3C%3Dosu5a54d.5c%3Ff-14a09eef6a5-0xc9 -->
</div></div></body>
</html>
<!--production-->